body{
    background-color: #555;
    margin: 1px;   
}

nav{
    margin: 0;
    padding: 0;
    background-color: #eee;
    position: fixed;
}

main,
menu{
    margin: 0;
    padding: 0;
    background-color: #eee;
}

nav a{
   text-decoration: none;
   padding: 15px;
   margin-left: 1px;
   background-color: red;
   border-radius: 0px 0px 8px 8px;
   color: #fff;
   font-weight: bolder;
   float: left; 
} 

.svgContainer{
    padding-top: 20px;
    max-width: 1080px;
    height: auto;
}

footer{
    background-color: #555;
    color: #fff;
    padding: 15px;
    width:100%;
}

div.container{
    margin: 0;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 10px 20px;
    float: left;
    max-width: 300px;
    height: 180px;
    background-color: #555;
} 

.container a:link,
.container a:visited,
.container a:active
{
    background-color: #555;
    text-decoration: none;
    color: #fff; 
}


.container a:hover{
    text-decoration: underline;
    font-weight: bolder;
    background-color: #555;
    
}

#LinkedIn,
#Github{
    display: inline;
    margin: 10px;
    padding: 0;
}
